.logo-slider {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.logo-slider .logos {
    display: flex;
    gap: 20px;
}

.logo-slider .logos img {
    height: 60px;
    width: auto;
    max-width: none;
    margin: 0 25px;
}